/* Sections/Article */
header {
  margin-bottom: 1em;
}

header p {
  display: block;
  margin: 1em 0 0 0;
  padding: 0 0 0.5em 0;
}

#header {
  position: fixed;
  z-index: 10000;
  left: 0;
  top: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.10);
  height: 3em;
  line-height: 3em;
  box-shadow: 0 0 0.15em 0 rgba(0, 0, 0, 0.1);
}

#header h1 {
  position: absolute;
  left: 1em;
  top: 0;
  height: 3em;
  line-height: 3em;
  cursor: default;
}

#header h1 a {
  font-size: 1.25em;
}

#header nav {
  position: absolute;
  right: 0.5em;
  top: 0;
  height: 3em;
  line-height: 3em;
}

#header nav ul {
  margin: 0;
}

#header nav ul li {
  display: inline-block;
  margin-left: 0.5em;
  font-size: 0.9em;
}

#header nav ul li a {
  display: block;
  color: inherit;
  text-decoration: none;
  height: 3em;
  line-height: 3em;
  padding: 0 0.5em 0 0.5em;
  outline: 0;
}

@media screen and (max-width: 736px) {
  #header {
    height: 2.5em;
    line-height: 2.5em;
  }

  #header h1 {
    text-align: center;
    position: relative;
    left: 0;
    top: 0;
    height: 2.5em;
    line-height: 2.5em;
  }

  #header h1 a {
    font-size: 1em;
  }

  #header nav {
    display: none;
  }
}

/* Conteneur flex pour aligner h1 et le bouton */
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Espace entre les éléments */
  width: 100%;
  height: 3em;
  padding: 0 1em;
}

.header-container button {
  background-color: transparent;
  font-size : 1em;
  color: black;
}

/* Bouton burger */
.menu-toggle {
  display: none; /* Caché en desktop */
  position: absolute;
  right: 1em;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.5em;
  background: none;
  border: none;
  cursor: pointer;
}

/* Menu mobile */
@media screen and (max-width: 736px) {
  .menu-toggle {
    display: block; /* Visible en mobile */
  }

  #header {
    height: auto;
    text-align: center;
  }

  #header nav {
    display: none; /* Caché par défaut */
    position: absolute;
    top: 3em;
    left: 0;
    width: 100%;
    text-align: left;
  }

  #header nav.active {
    display: block; /* Affichage du menu lorsqu'il est activé */
  }

  #header nav ul {
    display: block;
    padding: 0;
    margin: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.10);
  }

  #header nav ul li {
    display: block;
    padding: 1em;
    font-size: 1.2em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    font-weight: bold;
  }

  #header nav ul li a {
    display: block;
    width: 100%;
  }
}

/* En vue desktop, ne pas afficher le bouton burger */
@media screen and (min-width: 737px) {
  #menu-toggle {
    display: none;  /* Cacher le bouton burger en desktop */
  }
}

