<!-- Section Météo Parapente -->
<div class="iframe-section">
  <h2 class="section-title meteo-title">Météo Parapente</h2>
  <div class="iframe-container">
    <iframe src="https://meteo-parapente.com/#/44.0992,7.1839,14" title="Météo Parapente" allowfullscreen></iframe>
  </div>
</div>

<!-- Section SpotAiR -->
<div class="iframe-section">
  <h2 class="section-title spotair-title">SpotAiR</h2>
  <div class="iframe-container">
    <iframe src="https://www.spotair.mobi/" title="SpotAiR" allowfullscreen></iframe>
  </div>
</div>

<h2 class="section-header">Liens Utiles</h2>

<!-- Section Paragliding Map -->
<div class="iframe-section">
  <h2 class="section-title paraglidingmap-title">Paragliding Map</h2>
  <div class="iframe-container">
    <iframe src="https://www.paraglidingmap.com/app/" title="Paragliding Map" allowfullscreen></iframe>
  </div>
</div>

<!-- Section Meteoblue -->
<div class="iframe-section">
  <h2 class="section-title meteoblue-title">Meteoblue - La Colmiane</h2>
  <div class="logo-section">
    <div class="logo-container">
      <img src="/assets/meteo/meteoblue-Logo-2024/meteoblue_logo_2024.png" alt="Logo Meteoblue">
      <p class="logo-description">Meteoblue fournit des prévisions météorologiques détaillées pour l'aviation et les sports aériens, avec des données précises sur les vents, les températures et les conditions atmosphériques.</p>
      <a href="https://www.meteoblue.com/fr/meteo/aviation/air/la-colmiane_france_9883844" target="_blank">Accéder à Meteoblue - La Colmiane</a>
    </div>
  </div>
</div>

