@import url('https://unpkg.com/leaflet/dist/leaflet.css');

#map {
  height: 600px;
  width: 100%;
}

html, body {
  height: 100%;  /* Assure que le `body` prend toute la hauteur de la page */
  margin: 0;
  padding: 0;
  overflow: hidden; /* Évite tout dépassement */
  display: flex;
  flex-direction: column;
}

app-root {
  flex: 1; /* Fait en sorte que l'app prenne toute la place disponible */
  display: flex;
  flex-direction: column;
}

.router-outlet {
  flex: 1; /* Permet aux pages d'occuper toute la hauteur */
}

.flip-card {
  perspective: 1000px;
  height: 630PX;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.flip-card-back {
  transform: rotateY(180deg);
}

.card-image {
  width: 300px;
  margin: 0 auto;
  display: block;
  height: 350px;
}
