<!-- Intro -->
<section id="intro" class="main style1 dark fullscreen">
  <div class="content">
<!--    <header>-->
<!--      <h2>Bienvenue</h2>-->
<!--    </header>-->
<!--    <p>Sur le site web de l’association Val de l’Air, qui œuvre pour dynamiser le parapente sur le site de La Colmiane - Valdeblore</p>-->
    <a href="#" class="logo">
      <img class="logo" src="assets/header/img/logo_transparent.png" alt="Val de l'air">
    </a>
    <footer>
      <a href="#one" class="button style2 down">More</a>
    </footer>
  </div>
</section>

<!-- One -->
<section id="one" class="main style2 right dark fullscreen">
  <div class="content box style2">
    <header>
      <h2>Val de l’Air</h2>
    </header>
    <p>fait suite au club de parapente «Les Parpaouins» et a pour ambition de réunir les amoureux du parapente dans une ambiance conviviale et bienveillante.</p>
  </div>
  <a href="#two" class="button style2 down anchored">Next</a>
</section>

<!-- Two -->
<section id="two" class="main style2 left dark fullscreen">
  <div class="content box style2">
    <p>Partageons ensemble un rando vol, une navette ou encore un apéro après un joli vol !</p>
    <p>Il s’agit d’une association à but non lucratif qui rassemble les pratiquants du parapente dans la vallée de la Vésubie et de la Tinée.</p>
  </div>
  <a href="#work" class="button style2 down anchored">Next</a>
</section>

<!-- Work -->
<section id="work" class="main style3 primary">
  <div class="content">
    <header>
      <h2>Nos derniers évenements</h2>
    </header>

    <div class="gallery">
      <article *ngFor="let img of images">
        <a href="#" (click)="openLightbox(img.full); $event.preventDefault()">
          <img [src]="img.thumb" [alt]="img.title" [title]="img.title" class="imgIndex"/>
        </a>
      </article>
    </div>
  </div>
</section>

<div class="lightbox" [class.hidden]="!lightboxVisible" (click)="closeLightbox()">
  <img [src]="lightboxImage" alt="image agrandie" (click)="$event.stopPropagation()" />
  <!-- Flèche gauche -->
  <div class="arrow left" (click)="previousImage($event)">&#10094;</div>

  <!-- Flèche droite -->
  <div class="arrow right" (click)="nextImage($event)">&#10095;</div>
  <span class="close" (click)="closeLightbox()">&times;</span>
</div>
<!-- Contact -->
<section id="contact" class="main style3 secondary">
  <app-contact/>
</section>
